<div class="form">
	<%= form_for [:admin, @post] do |f| %>
		<%= f.label :title %>
		<%= f.text_field :title, class: 'form-control' %>
		<%= f.label :content %>
		<%= f.text_area :content, class: 'form-control'%>
		<%= f.label :publish, "Publish?" %>
		<%= f.check_box :publish, class: 'form-control' %>
		<%= submit_tag 'Submit blog post' %>
	<%end%>
</div>